.pix{
    width: 70px;
    height: 70px;
    
}
.boleto{
width: 70px;
height: 70px;
margin-left: 400px;

}


.recarga{
    width: 70px;
    height: 70px;

}

.investimentos{
    
width: 70px;
height: 70px;

}
.laranja{

    background-color: chocolate;
}
p{
    margin-left: 400px;
}

