.pix{
    width: 100px;
}
.boleto{
width: 200px;
margin-left: 900px;
}
.recarga{
    width: 200px;
}
.investimentos{
width: 150px;
margin-left: 900px;
}
.laranja{
    background-color: chocolate;
}
.gift{
width: 300px;
margin-left: 350px;
}
.branca{
    background-color: white;
}
.laranja text-3x1{
    margin-left: 100px;
}